<!-- <%= index + 1 %> -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style type="text/css">
  h1 {
    margin: 0.5em 0;
  }
  p {
    margin: 2px 0px 0px 0px;
    font-weight: 300;
  }
  .well {
    margin-top: 10px;
  }
  .plain blockquote, .layout blockquote {
    background: none;
    border-left: none;
    padding: 0px;
    margin: 0px 0px 1px 20px;
  }
  blockquote p {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-family: "Source Sans Pro", sans-serif;
  }
  .plain li p {
    margin: 3px 0;
  }
  .plain ul {
    margin-bottom: 0;
  }
  .plain p, .layout p, .stock p {
    border-bottom: 1px solid #eee;
  }
  code {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    line-height: 1.45;
    background-color: transparent;
    padding: 0px;
    color: SeaGreen;
    font-weight: bold;
  }
  .plain strong, .layout strong {
    font-weight: 300;
  }
  .plain ul
  {
    list-style-type: none;
  }
  .formatted blockquote {
    margin: 0px 0px 1px 20px;
    padding: 2px 5px;
    background: #FAFAFA;
  }
  #completed {
    font-size: 1.5em;
    color: red;
    font-weight: bold;
  }
</style>
<script type="text/javascript">
  function remaining() {
    var names = [];
    var completed = 0;
    $.each($("input"), function( index, value ) {
      names.push(value.name);
      if (value.checked) {
        completed += 1
      }
    });
    $.each($("textarea"), function( index, value ) {
      names.push(value.name);
      if (value.value != "") {
        completed += 1
      }
    });

    var total = jQuery.unique( names ).length;
    return total - completed;
  }

  function setCompleteStatus() {
    var rem = remaining();
    $("#completed").text("Questions Remaining: " + rem.toString());
    console.log(rem);
    if (rem === 0) {
      $("#completed").hide();
    }
  }

  $( document ).ready(function() {
    $( "input, textarea" ).change(function() {
      setCompleteStatus();
    });
    $( "textarea" ).keypress(function() {
      setCompleteStatus();
    });
  });
</script>

<div class="container">
  <div class="row">
    <h1>Debate Summarization Evaluation</h1>
    <p>Please do not complete this task, <strong>Extracts <%= index + 1 %></strong>, more than once.</p>
    <br/>
    <div>
      <p>The online world is full of debate and discussion - could these online debates be summarized automatically? We are investigating this question for an undergraduate research project and are comparing some extracts from debates for use in summaries. Complete the form below to let us know what you think.</p>
      <p>Please contact <a href="mailto:c.egan.12@aberdeen.ac.uk">c.egan.12@aberdeen.ac.uk</a> if you have any queries before starting the survey.</p>
    </div>
    <h3>Consent Form</h3>
    <div class="well">
      <p>Please read the statements below</p>
      <ul>
        <li>I confirm that the research project <strong>Debate Summarization Tool Evaluation</strong> has been explained to me. I have had the opportunity to ask questions about the project and have had these answered satisfactorily.</li>
        <li>I consent to the material I contribute being used to generate insights for the research project <strong>Debate Summarization Tool Evaluation</strong>.</li>
        <li>I understand that my participation in this research is voluntary and that I may withdraw from the study at any time.</li>
        <li>I consent to allow the <strong>fully anonymized</strong> data to be used for future publications and other scholarly means of disseminating the findings from the research project.</li>
        <li>I understand that the information/data acquired will be securely stored by researchers, but that appropriately anonymized data may in future be made available to others for research purposes only.</li>
      </ul>
      <p><strong>By continuing this questionnaire you agree to the above statements.</strong></p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <h3>Instructions</h3>
    <div>
      <p>We have built a tool to extract points made in a discussion on <strong><%= topic.gsub("_", " ") %></strong>.</p>
      <p>Given the following sets of similar points, rate them accounting for their <strong>succinctness</strong> and the extent to which they <strong>make sense</strong>.</p>
      <br/>
      <ul>
        <li>Example of a <strong>good</strong> extract: <em>The bill was approved.</em></li>
        <li>Example of a <strong>worse</strong> extract: <em>Similarly, the bill was approved.</em></li>
        <li>Example of a <strong>bad</strong> extract: <em>The bill was approved as the.</em></li>
      </ul>
    </div>

    Higher scores like 5/5 are better than lower ones like 1/5 or 2/5.
  </div>

  <hr/>

  <div class="row">
    <h2>Section 1</h2>
    <% sets.each_with_index do |set, set_index| %>
      <h4>Set <%= set_index + 1 %></h4>
      <div class="well">
      <% set.each_with_index do |e, i| %>
        <% i += 1 %>
        <p><strong>1.<%= set_index + 1 %>.<%= "#{i}." %></strong>  <%= e %></p>
        <label class="radio-inline"><input type="radio" name="<%= topic %>-set<%= set_index + 1 %>extract<%= i %>" value="1">1/5</label>
        <label class="radio-inline"><input type="radio" name="<%= topic %>-set<%= set_index + 1 %>extract<%= i %>" value="2">2/5</label>
        <label class="radio-inline"><input type="radio" name="<%= topic %>-set<%= set_index + 1 %>extract<%= i %>" value="3">3/5</label>
        <label class="radio-inline"><input type="radio" name="<%= topic %>-set<%= set_index + 1 %>extract<%= i %>" value="4">4/5</label>
        <label class="radio-inline"><input type="radio" name="<%= topic %>-set<%= set_index + 1 %>extract<%= i %>" value="5">5/5</label>
      <% end %>
      </div>
    <% end %>
  </div>

  <h2>Section 2</h2>
  <p>Please review the following summaries and rate them accounting for their <strong>informativeness</strong> and the extent to which they <strong>make sense</strong>.</p>
  <% s1, s2 = [['layout', summaries[topic + "_layout"]], ['random_layout', summaries['random_' + topic + "_layout"]]] %>
  <div class="row">
    <div class="col-md-6 <%= s1.first.split("_").join(" ") %>">
      <h4><%= topic %> A</h4>
      <%= s1.last %>
    </div>
    <div class="col-md-6 <%= s2.first.split("_").join(" ") %>">
      <h4><%= topic %> B</h4>
      <%= s2.last %>
    </div>
  </div>
  <div class="well">
    <p>2.1. Comparing the summary on how well, on average, the points make sense and their informativeness, give a relative rating:</p>
    <label class="radio-inline"><input type="radio" name="<%= topic %>-layout_v_layout_random" value="<%= s1.first %>-much_better">A is much better</label>
    <label class="radio-inline"><input type="radio" name="<%= topic %>-layout_v_layout_random" value="<%= s1.first %>-better">A is better</label>
    <label class="radio-inline"><input type="radio" name="<%= topic %>-layout_v_layout_random" value="same">A and B are about the same</label>
    <label class="radio-inline"><input type="radio" name="<%= topic %>-layout_v_layout_random" value="<%= s2.first %>-better">B is better</label>
    <label class="radio-inline"><input type="radio" name="<%= topic %>-layout_v_layout_random" value="<%= s2.first %>-much_better">B is much better</label>
    <p>2.2. Please justify your answer to 2.1:</p>
    <textarea class="form-control" rows="5" name="<%= topic %>-layout_v_layout_random-comment"></textarea>
  </div>
  <p id="completed">Please answer all the questions.</p>
</div>
