<!DOCTYPE html>
<html>
<head>
  <title>StandpointServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'navbar' %>
  <p id="error"><%= flash[:error] %></p>
  <p id="notice"><%= flash[:notice] %></p>
  <%= yield %>
</body>
</html>
