<p>The people <strong>disagree</strong> on these points:</p>
<% @summary.counter_points.each do |point, counter| %>
  <% point = [point["String"], counter["String"]] %>
  <% if point.size == 2 %>
    <blockquote>
      <p><%= Presenter.format(point.first, @summary.topics) %></p>
    </blockquote>
  <% else %>
    <blockquote><p><%= Presenter.format(point.first, @summary.topics) %></p></blockquote>
  <% end %>
<% end %>

<% @summary.negated_points.each do |_, first, _| %>
  <blockquote>
    <p><%= Presenter.format(first["String"], @summary.topics) %></p>
  </blockquote>
<% end %>

<p><strong>Commonly occurring points</strong> made in the discussion were:</p>
<p>Bear in mind that these are made up from the left overs of the related section that follows. This order doesn't feel quite right to me (Adam)</p>
<% @summary.common_points.each do |point| %>
  <blockquote>
    <p><%= Presenter.format(point["String"], @summary.topics) %></p>
  </blockquote>
<% end %>

<p>Users that talk about <strong>A often talk about B</strong>.</p>
<% @summary.related_points.each do |point, related| %>
  <blockquote>
    <p>
      <strong>(A)</strong>
      <%= Presenter.format(point["String"], @summary.topics) %>
      <strong>(B)</strong>
      <%= Presenter.format(related["String"], @summary.topics) %>
    </p>
  </blockquote>
<% end %>

<p>Common points made in the discussion that <strong>link terms</strong> were:</p>
<% @summary.longer_points.each do |point| %>
  <blockquote>
    <p><%= Presenter.format(point["String"], @summary.topics) %></p>
  </blockquote>
<% end %>

<p>Points for <strong>commonly discussed topics</strong>:</p>
<ul>
  <% @summary.commonly_discussed_topic_points.each do |topic, points| %>
    <li>
      <p><%= topic.capitalize %>
      <% points.map { |p| Presenter.clean(p["String"]) }.take(@summary.point_count).each do |point| %>
        <blockquote>
          <p><%= Presenter.format(point, @summary.topics) %></p>
        </blockquote>
      <% end%>
    </li>
  <% end %>
</ul>

<p>Points about <strong>multiple topics</strong>:</p>
<% @summary.multiple_topic_points.each do |point| %>
  <blockquote>
    <p><%= Presenter.format(point["String"], @summary.topics) %></p>
  </blockquote>
<% end %>

<p>People ask <strong>questions</strong> like:</p>
<% if @summary.questions.empty? %>
  <blockquote>
    <p>There were no repeated questions</p>
  </blockquote>
<% end %>
<% @summary.question_points.each do |point| %>
  <blockquote>
    <p><%= Presenter.format(point["String"], @summary.topics, true) %></p>
  </blockquote>
<% end %>
