<p>The people disagree on these points:</p>
<% @summary.counter_points.each do |point, counter| %>
  <% point = [point["String"], counter["String"]] %>
  <% if point.size == 2 %>
    <blockquote>
      <p><%= Presenter.clean(point.first) %></p>
    </blockquote>
  <% else %>
    <blockquote><p><%= Presenter.clean(point.first) %></p></blockquote>
  <% end %>
<% end %>

<% @summary.negated_points.each do |_, first, _| %>
  <blockquote>
    <p><%= Presenter.clean(first["String"]) %></p>
  </blockquote>
<% end %>

<p>Commonly occurring points made in the discussion were:</p>
<p>Bear in mind that these are made up from the left overs of the related section that follows. This order doesn't feel quite right to me (Adam)</p>
<% @summary.common_points.each do |point| %>
  <blockquote>
    <p><%= Presenter.clean(point["String"]) %></p>
  </blockquote>
<% end %>

<p>These are examples of common pairs of points raised by the same user:</p>
<% @summary.related_points.each do |point, related| %>
  <blockquote>
    <p>
      <%= Presenter.clean(point["String"]) %>
      &amp;
      <%= Presenter.clean(related["String"]) %>
    </p>
  </blockquote>
<% end %>

<p>Common points made in the discussion that link terms were:</p>
<% @summary.longer_points.each do |point| %>
  <blockquote>
    <p><%= Presenter.clean(point["String"]) %></p>
  </blockquote>
<% end %>

<p>Points for commonly discussed topics:</p>
<ul>
  <% @summary.commonly_discussed_topic_points.each do |topic, points| %>
    <li>
      <p><%= topic.capitalize %>
      <% points.map { |p| Presenter.clean(p["String"]) }.take(@summary.point_count).each do |point| %>
        <blockquote>
          <p><%= Presenter.clean(point) %></p>
        </blockquote>
      <% end%>
    </li>
  <% end %>
</ul>

<p>Points about multiple topics:</p>
<% @summary.multiple_topic_points.each do |point| %>
  <blockquote>
    <p><%= Presenter.clean(point["String"]) %></p>
  </blockquote>
<% end %>

<p>People ask questions like:</p>
<% @summary.question_points.each do |point| %>
  <blockquote>
    <p><%= Presenter.clean(point["String"], true) %></p>
  </blockquote>
<% end %>
